@import "/contato/contato.css";

body{
  margin: 0;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
  max-width: 1200px;
}

h1,
p{
  margin: 0;
  padding: 0;
}

h2{
  margin: 15px;
  padding: 5px;
}

h1{
  font-size: 3rem;

}
.texto-home{
  margin-top: 40px;
  font-size: 16px;
  line-height: 1.3;

}

.sobre{
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

/*---MENU---*/
.botao{
  padding: -5;
  text-decoration: none;
  background-color: rgb(52, 52, 87);
  padding: 10px 25px;
  border-radius: 4px;
  color: #fff;
}
.menu li a{
  text-decoration: none;
}

.menu-lista{
  padding: 10px;
  display: flex;
  gap: 40px;
  max-width: 1200px;
}

.menu-lista a{
  background-color: rgb(52, 52, 87);
  padding: 10px 25px;
  border-radius: 4px;
  color: #fff;
  max-width: 1200px;
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;

}

.menu a:hover{
  color: #a8f;
}

.formulario{
  margin: 15px;
  padding-top: 10;
  display: block;
}

form{
  margin: 15px;
}

/*----INPUT----*/
.acesso input{
  display: flex;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
}

button{
  font-size: 18px;
  padding-right: 120px;
  text-align: center;
}
/*IMAGEM*/

img{
  max-width: 100%;
  display: block;
  border-radius: 4px;
  object-fit: cover;
}

@media (max-width: 800px){
  img{
    display: grid;
    columns: 2;
  }
}

.introducao{
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.unes{
  margin: 15px;
  margin-top: 6rem;
}

.introducao a{
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px 30px;
  background: rgb(52, 52, 87);
  color: #fff;
  text-decoration: none;
  border-radius: 4px;

}
.introducao h1{
  margin-top: 4rem;
}


@media (max-width: 800px){
  .menu{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }
  img{
    display: grid;
    grid-column: 1/-1;
  }
  h1,p{
    padding: 20px;
    line-height: 1.3;
  }
  .sub-title{
    padding: 20px;
  }
}

@media (max-width: 600px){
  .menu a{
    display: grid;
    font-size: 8px;
  }
  
}

ul{
  list-style: none;
}



.content{
  max-width: 1200px;
  padding: 20px;
}
.image{
  padding-top: 30px;
}

.titulo{
  font-size: 2rem;
}

.texto{
  font-size: 1.125rem;
  line-height: 1.3;
}

.descricao{
  padding: 17px;
}

.container{
  max-width: 100%;
  background-image: url(/img/contato.png.png);
  border-radius: 4px;
  height: 100vh;
  padding-bottom: 300px;
}

.form-contato{
  background-color: #fff;
  box-sizing: border-box;
}